<a href="/articulos/creartabla">Creacion de una tabla 'articulos' con MySQL</a></p>
<a href="/articulos/alta">alta de articulos</a></p>
<a href="/articulos/listado">Listado completo de articulos</a></p>   
<a href="/articulos/consulta">Consulta de un articulo por codigo</a></p>
<a href="/articulos/modificacion">Modificacion de un articulo</a></p>